doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="https://rawgit.com/AuspeXeu/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css")
  body
    block content

append script
  script.
    $(function() {
      $("#date").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    });              
